* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url("../Image/Background1.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
}

.logo {
  font-size: 2em;
  color: black;
  user-select: none;
}

.navigation a {
  position: relative;
  font-size: 1.3em;
  color: #000000;
  text-decoration: none;
  font-weight: 500;
  margin-left: 40px;
}

.navigation a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 3px;
  background: #162938;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.5s;
}

.navigation a:hover::after {
  transform-origin: left;
  transform: scaleX(1);
}

.navigation .btn-popup {
  width: 130px;
  height: 50px;
  background: transparent;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2em;
  color: black;
  font-weight: 500px;
  margin-left: 40px;
  transition: 0.5s;
}

.wrapper__login {
  position: relative;
  width: 400px;
  height: 440px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  backdrop-filter: blur(100px);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper__signup {
  position: relative;
  width: 400px;
  height: 520px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  backdrop-filter: blur(100px);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-box h2 {
  font-size: 2em;
  color: #162938;
  text-align: center;
}

.input-box {
  position: relative;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid #162938;
  margin: 30px 0;
}

.input-box label {
  position: absolute;
  top: 26px;
  left: 5px;
  transform: translateY(-50%);
  font-size: 1.2em;
  color: #162938;
  font-weight: 500;
  pointer-events: none;
  transition: 0.5s;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label {
  top: -5px;
}
.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1.2em;
  color: rgb(38, 38, 187);
  font-weight: 600;
  padding: 0 30px 0 5px;
}

.input-box .icon {
  position: absolute;
  right: 0;
  font-size: 1.5em;
  color: #162938;
  line-height: 58px;
}

.show-password {
  font-size: 0.85em;
  color: #162938;
  font-weight: 500;
  margin: -15px 0 15px;
  display: flex;
  justify-content: space-between;
}

.show-password label input {
  accent-color: #162938;
  margin-right: 1px;
}

.form-submit {
  width: 100%;
  height: 45px;
  background: #162938;
  border: none;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1em;
  color: #fff;
  font-weight: 500;
}

.login-signup {
  font-size: 0.9em;
  color: #162938;
  text-align: center;
  font-weight: 500;
  margin: 25px 0 10px;
}

.login-signup p a {
  color: blue;
  text-decoration: none;
  font-weight: 600;
}

.login-signup p a:hover {
  text-decoration: underline;
}

/* CSS cho khung thông báo */
.input-box.success input {
  border-bottom: 2px solid green;
}
.input-box.success .message::before {
  content: "\2713 passed.";
  font-weight: 900;
  font-size: 12px;
  visibility: visible;
}
.input-box.error input {
  border-bottom: 2px solid red;
}
.input-box .message {
  visibility: hidden;
  font-weight: bold;
}
.input-box.error .message {
  visibility: visible;
  color: red;
}
